<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oven API Server</title>
    <style>
        * {
            color: white;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "wdth" 100;
        }
        body {
            background-color: black;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Oven API Server</h1>
    <p>This is an Oven API server.</p>
    <p>Try it out: use <a href="https://github.com/Freakybob-Team/oven-api/blob/main/src/client/app.py">the client</a> with this URL!</p>
    <hr>
    <footer>
        <p>Oven API is licensed under GPL-3.0. Do not misuse.</p>
        <p>Oven is a project by Freakybob Team based on Gemini.</p>
    </footer>
</body>
</html>
